<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/pages.js"></script>
</head>
<body>
<div id="nav">
			<!-- <a href="contact.html">CONTACT</a> -->
<!-- about dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><a href="bio.html">ABOUT &#9663;</a><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="bio.html">BIO</a>
				<a href="resume.html">RESUME</a>
			</div>
		</div>
<!-- Portfolio dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><a href="traditional.html">PORTFOLIO &#9663;</a><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="traditional.html">TRADITIONAL</a>
				<a href="cg.html">CG & DIGITAL</a>
			</div>
		</div>
<!-- reel dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><h3>REEL &#9663;</h3><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="reel.html#reel3d">3D REEL</a>
				<a href="reel.html#reel2d">2D REEL</a>
			</div>
		</div>
			<a class="logo" href="../index.html"><img src="../img/logo.png"></a>
	</div>

	<!-- nav bar bottom -->
	<div class="navbarb">
	  <a href="https://www.instagram.com/doodlesbyvic/" target="_blank" class="active"><img src="../img/instagram.png"></a>
	  <a href="https://www.linkedin.com/in/victoria-carolina-9900b6bb/" target="_blank" ><img src="../img/linkedin.png"></a>
	 <!--  <a href="contact.html">Contact</a> -->
	</div>
	

</body>
</html> 