<!DOCTYPE html>
<html>
<head>
	<title>CG Work</title>
	<link rel="stylesheet" type="text/css" href="../css/cg.css">
	  <link rel="stylesheet" type="text/css" href="../css/lightbox.css">
    <script type="text/javascript" src="../js/lightbox-plus-jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/pages.js"></script>
</head>
<body>
<div id="nav">
			<!-- <a href="contact.html">CONTACT</a> -->
<!-- about dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><h3>ABOUT &#9663;</h3><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="bio.html">BIO</a>
				<a href="resume.html">RESUME</a>
			</div>
		</div>
<!-- Portfolio dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><h3>PORTFOLIO &#9663;</h3><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="traditional.html">TRADITIONAL</a>
				<a href="cg.html">CG & DIGITAL</a>
			</div>
		</div>
<!-- reel dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><h3>REEL &#9663;</h3><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="reel.html#reel3d">3D REEL</a>
				<a href="reel.html#reel2d">2D REEL</a>
			</div>
		</div>
			<a class="logo" href="../index.html"><img src="../img/logo.png"></a>
	</div>

	<h1>COMPUTER ART</h1>
	<div class="thumbnails group">
    <a href="../img/cg/img1.jpg" data-lightbox="gallery2" data-title="Digital Character Studies"><img src="../img/cg/squareCrop/img1.jpg" alt = "Digital painting of female characters."></a>
    <a href="../img/cg/img2.jpg" data-lightbox="gallery2" data-title="Geometric Lamp Design, Cinema 4D"><img src="../img/cg/squareCrop/img2.jpg" alt = "Rendered photo of a lamp and whine glass on glass table."></a>
    <a href="../img/cg/img3.jpg" data-lightbox="gallery2" data-title="Chair Design, Cinema 4D"><img src="../img/cg/squareCrop/img3.jpg" alt = "3D render of a one person seat with pink plaid blanket thrown over it."></a>
    <a href="../img/cg/img4.jpg" data-lightbox="gallery2" data-title="Wolf Illustration, Illustrator, Photoshop"><img src="../img/cg/squareCrop/img4.jpg" alt = "Digital Illustration of a snarling 4 eyed wold with a rainbow background."></a>
 
</div>


	<!-- nav bar bottom -->
	<div class="navbarb">
	  <a href="https://www.instagram.com/doodlesbyvic/" target="_blank" class="active"><img src="../img/instagram.png"></a>
	  <a href="https://www.linkedin.com/in/victoria-carolina-9900b6bb/" target="_blank" ><img src="../img/linkedin.png"></a>
	 <!--  <a href="contact.html">Contact</a> -->
	</div>

</body>
</html>