<!DOCTYPE html>
<html>
<head>
	<title>Traditional Art</title>
	<link rel="stylesheet" type="text/css" href="../css/traditional.css">
    <link rel="stylesheet" type="text/css" href="../css/lightbox.css">
    <script type="text/javascript" src="../js/lightbox-plus-jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/pages.js"></script>
</head>
<body>

<div id="nav">
			<!-- <a href="contact.html">CONTACT</a> -->

		<div class="dropdown">
			<button class="dropbtn"><a href="bio.html">ABOUT &#9663;</a><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="bio.html">BIO</a>
				<a href="resume.html">RESUME</a>
			</div>
		</div>
<!-- Portfolio dropdown -->
		<div class="dropdown">
			<button class="dropbtn"><a href="traditional.html">PORTFOLIO &#9663;</a><i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="traditional.html">TRADITIONAL</a>
				<a href="cg.html">CG & DIGITAL</a>
			</div>
		</div>
		<div class="dropdown">

			<button class="dropbtn"><a href="reel.html">REEL &#9663;</a><i class="fa fa-caret-down"></i></button>

			<div class="dropdown-content">
				<a href="reel.html#reel3d">3D REEL</a>
				<a href="reel.html#reel2d">2D REEL</a>
			</div>
		</div>
			<a class="logo" href="../index.html"><img src="../img/logo.png"></a>
	</div>

	<h1>TRADITIONAL ART</h1>

<div class="thumbnails">
    <a href="../img/traditional/img1.jpg" data-lightbox="gallery" data-title="Gouache, India Ink, Watercolor, 14x17"><img src="../img/traditional/squareCrop/img1.jpg" alt = "Gouache and Ink painting of a nude seated woman. Botanical elements radiating out of her body."></a>
    <a href="../img/traditional/img2.jpg" data-lightbox="gallery" data-title="Watercolor, 14x17"><img src="../img/traditional/squareCrop/img2.jpg" alt = Watercolor still life painting of a human skull, and a tangerine being lowered down by hands."></a>
    <a href="../img/traditional/img3.jpg" data-lightbox="gallery" data-title="Watercolor, Finetec Pearl Colors, 14x17"><img src="../img/traditional/squareCrop/img3.jpg" alt = "Watercolor painting of a hand with a golden bee on it suspended over peonies."></a>
    <a href="../img/traditional/img4.jpg" data-lightbox="gallery" data-title= "Charcoal, 18x24"><img src="../img/traditional/squareCrop/img4.jpg" alt = "Charcoal drawing of a nude woman standing in profile."></a>
    <a href="../img/traditional/img5.jpg" data-lightbox="gallery" data-title= "Watercolor, 6x12"><img src="../img/traditional/squareCrop/img5.jpg" alt = "Watercolor painting of lilies."></a>
    <a href="../img/traditional/img6.jpg" data-lightbox="gallery" data-title= "Acrylic, 18x24"><img src="../img/traditional/squareCrop/img6.jpg" alt = "Portrait drawing of a woman."></a>
    <a href="../img/traditional/img7.JPG" data-lightbox="gallery" data-title= "Watercolor, Gouache, 5.5x8"><img src="../img/traditional/squareCrop/img7.jpg" alt = "A watercolor painting of Borgand Stave Church."></a>
    <a href="../img/traditional/img8.jpg" data-lightbox="gallery" data-title= "Charcoal, 18x24"><img src="../img/traditional/squareCrop/img8.jpg" alt ="Charcoal drawing of a seated nude woman."></a>
    <a href="../img/traditional/img9.jpg" data-lightbox="gallery" data-title= "Watercolor, Gouache, 5.5x8"><img src="../img/traditional/squareCrop/img9.jpg" alt = "Watercolor studies of women, flowers, and fruit."></a>
    <a href="../img/traditional/img10.jpg" data-lightbox="gallery" data-title= "Charcoal, 18x24"><img src="../img/traditional/squareCrop/img10.jpg" alt = "Back of a nude male figure in charcoal."></a>
    <a href="../img/traditional/img11.jpg" data-lightbox="gallery" data-title= "Acrylic, 11x17"><img src="../img/traditional/squareCrop/img11.jpg" alt = "Landscape painting of a sunset over a lake."></a>
    <a href="../img/traditional/img12.jpg" data-lightbox="gallery" data-title= "Charcoal, 18x24"><img src="../img/traditional/squareCrop/img12.jpg" alt = "3/4 back view of a nude male in charcoal."></a>
    <a href="../img/traditional/img13.jpg" data-lightbox="gallery" data-title= "Watercolor, Gouache, 5.5x8"><img src="../img/traditional/squareCrop/img13.jpg" alt = " watercolor studies of female figures with botanical elements."></a>
    <a href="../img/traditional/img14.jpg" data-lightbox="gallery" data-title= "ColErase Pencil Blue, Graphite, 5.5x8"><img src="../img/traditional/squareCrop/img14.jpg" alt = "Various sketchbook drawings of skulls, birds, and plants."></a>
    <a href="../img/traditional/img15.jpg" data-lightbox="gallery" data-title= "Charcoal, 18x24"><img src="../img/traditional/squareCrop/img15.jpg" alt = "Nude charcoal drawing of seated male."></a>
    <a href="../img/traditional/img16.jpg" data-lightbox="gallery" data-title= "Watercolor, Gouache, 5.5x8"><img src="../img/traditional/squareCrop/img16.jpg" alt = "Watercolor portrait studies of women with brightly colored hair."></a>
    <a href="../img/traditional/img17.jpg" data-lightbox="gallery" data-title= "Micron Pen, India Ink, 5.5x8"><img src="../img/traditional/squareCrop/img17.jpg" alt = "Ink drawing of a house."></a>
    <a href="../img/traditional/seated.jpg" data-lightbox="gallery" data-title= "Pastel, Charcoal, Life Sized"><img src="../img/traditional/squareCrop/seated-thumb.jpg" alt = "Tri colored pastel drawing of a seated female."></a>
    <a href="../img/traditional/reclining.jpg" data-lightbox="gallery" data-title= "Pastel, Charcoal, Life Sized"><img src="../img/traditional/squareCrop/reclining-thumb.jpg" alt = "Tri colored pastel drawing of a reclining female."></a>
</div>

<!-- hello -->

	<!-- nav bar bottom -->
	<div class="navbarb">
	  <a href="https://www.instagram.com/doodlesbyvic/" target="_blank" class="active"><img src="../img/instagram.png"></a>
	  <a href="https://www.linkedin.com/in/victoria-carolina-9900b6bb/" target="_blank" ><img src="../img/linkedin.png"></a>
	 <!--  <a href="contact.html">Contact</a> -->
	</div>

</body>
</html>